@media (max-width: 1024px) {
  .cart {
    grid-template-columns: repeat(8, 1fr);
  }

  .for {
    gap: 30px;

    &__item {
      height: 268px;
    }
  }

  .content {
    .products {
      column-gap: 29px;
      row-gap: 30px;
    }
  }

  .footer {
    .logo__img {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .content {
    .products {
      .product {
        width: 345px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1248px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}