.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 64px;
  gap: 32px;

  .left {
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      justify-content: space-between;
      margin: 0 27px 14px 3px;
      color: rgb(0, 0, 0);

      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .item {
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 0.5px solid rgb(202, 205, 216);
    display: flex;
    justify-content: space-between;

    &__img {
      height: 173px;
    }

    &__info {
      display: flex;
      gap: 32px;
    }

    &__title {
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 16px;
    }

    &__description {
      width: 276px;
      color: rgb(136, 136, 136);
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 16px;
    }

    &__price {
      color: rgb(5, 5, 5);
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 16px;
    }

    &__links {
      display: flex;
      gap: 32px;
    }

    &__link {
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 400;
      text-decoration-line: underline;
    }

    &__quantity {
      width: 71px;
      height: 51px;
      border-radius: 6px;
      border-style: none;
      background: rgb(247, 246, 246);
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 600;
      line-height: 210%;
      text-align: center;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__form {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 556px;
    border-radius: 20px;
    background: rgb(247, 246, 246);
    padding-top: 42px;
    min-width: 376px;

    &__box {
      display: flex;
      flex-direction: column;
      margin-top: 35px;
      gap: 41px
    }

    &__title {
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }


    .client__info {
      border: none;
      outline: none;
      background: transparent;
      border-bottom: 1px solid rgb(202, 205, 216);
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      padding-bottom: 3px;

      &::placeholder {
        color: rgb(0, 0, 0);
      }
    }


    &__total {
      margin-top: 23px;
      margin-bottom: 18px;
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-align: center;
    }

  }

  &__button_make {
    width: 290px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &__button_action {
    width: 200px;
    height: 37px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}